/* number headings, import file to apply */
main > h2 {
  counter-increment: h2;
  counter-reset: h3, h4;
}
main > h2::before {
  content: counter(h2);
  margin-right: 10pt;
}
main > h3 {
  counter-increment: h3;
  counter-reset: h4;
}
main > h3::before {
  content: counter(h2) '.' counter(h3);
  margin-right: 10pt;
}
main > h4::before {
  content: counter(h2) '.' counter(h3) '.' counter(h4);
  margin-right: 10pt;
}
