# package install
*.egg-info

# cache
__pycache__

# datasets
*.json.gz
*.json.bz2
*.csv.bz2

# checkpoint files of trained models
pretrained/

# Weights and Biases logs
wandb/

# slurm logs
slurm-*out
