# package install
*.egg-info

# cache
__pycache__
.coverage*

# datasets
*.p
*.json.gz
*.json.bz2
*.csv.bz2
*.pkl.gz
data/**/raw

# Weights and Biases logs
wandb/
job-logs/

# slurm logs
*slurm-*.log
models/**/*.csv

# temporary ignore rule
paper
meeting-notes
models/voronoi/*
!models/voronoi/*.py
pretrained
