[build-system]
requires = ["setuptools>=61.2"]
build-backend = "setuptools.build_meta"

[project]
name = "matbench-discovery"
version = "0.1.4"
description = "A benchmark for machine learning energy models on inorganic crystal stability prediction from unrelaxed structures"
authors = [{ name = "Janosh Riebesell", email = "janosh@lbl.gov" }]
readme = "readme.md"
license = { file = "license" }
keywords = [
  "materials discovery",
  "inorganic crystal stability",
  "machine learning",
  "interatomic potential",
  "Bayesian optimization",
  "high-throughput search",
  "convex hull",
]
classifiers = [
  "Intended Audience :: Science/Research",
  "License :: OSI Approved :: MIT License",
  "Operating System :: OS Independent",
  "Programming Language :: Python :: 3.11",
  "Programming Language :: Python :: 3.10",
  "Programming Language :: Python :: 3.9",
  "Topic :: Scientific/Engineering :: Chemistry",
  "Topic :: Scientific/Engineering :: Artificial Intelligence",
  "Topic :: Scientific/Engineering :: Physics",
]

requires-python = ">=3.9"
dependencies = [
  "matplotlib",
  "numpy",
  # output_formatting needed to for pandas Stylers
  # see https://github.com/pandas-dev/pandas/blob/main/pyproject.toml#L78
  "pandas[output_formatting]>=2.0.0",
  "plotly",
  "pymatgen",
  "pymatviz[export-figs]",
  "scikit-learn",
  "scipy",
  "tqdm",
  "wandb",
]

[project.urls]
Homepage = "https://janosh.github.io/matbench-discovery"
Repo = "https://github.com/janosh/matbench-discovery"
Package = "https://pypi.org/project/matbench-discovery"

[project.optional-dependencies]
test = ["pytest", "pytest-cov"]
# how to specify git deps: https://stackoverflow.com/a/73572379
running-models = [
  # torch needs to install before aviary
  "torch",
  "aviary@git+https://github.com/CompRhys/aviary",
  "m3gnet",
  "maml",
  "megnet",
]
3d-structures = ["crystaltoolkit"]
fetch-data = ["gdown"]

[tool.setuptools.packages.find]
include = ["matbench_discovery*"]
exclude = ["tests", "tests.*"]

[tool.setuptools.package-data]
matbench_discovery = ["../data/figshare/*"]

[tool.distutils.bdist_wheel]
universal = true

[tool.ruff]
target-version = "py39"
select = [
  "B",   # flake8-bugbear
  "C40", # flake8-comprehensions
  "D",   # pydocstyle
  "E",   # pycodestyle
  "F",   # pyflakes
  "I",   # isort
  "PLE", # pylint error
  "PLW", # pylint warning
  "Q",   # flake8-quotes
  "RUF", # Ruff-specific rules
  "SIM", # flake8-simplify
  "TID", # tidy imports
  "UP",  # pyupgrade
  "W",   # pycodestyle
  "YTT", # flake8-2020
]
ignore = [
  "C408",    # Unnecessary dict call - rewrite as a literal
  "D100",    # Missing docstring in public module
  "D205",    # 1 blank line required between summary line and description
  "E731",    # Do not assign a lambda expression, use a def
  "PLW1508", # Invalid type for environment variable default
  "PLW2901", # Outer for loop variable overwritten by inner assignment target
]
pydocstyle.convention = "google"
isort.known-third-party = ["wandb"]

[tool.ruff.per-file-ignores]
"tests/*" = ["D"]

[tool.mypy]
check_untyped_defs = true
disallow_untyped_defs = true
disallow_any_generics = true
disallow_incomplete_defs = true
warn_redundant_casts = true
warn_unused_ignores = true
allow_redefinition = true
no_namespace_packages = true
no_implicit_optional = false

[tool.pytest.ini_options]
testpaths = ["tests"]
addopts = "-p no:warnings -m 'not slow'"
markers = [
  "slow: deselect slow tests with -m 'not slow'",
  "very_slow: select with -m 'very_slow'",
]
