[project]
name = "matbench-discovery"
version = "1.3.1"
description = "A benchmark for machine learning energy models on inorganic crystal stability prediction from unrelaxed structures"
authors = [{ name = "Janosh Riebesell", email = "janosh.riebesell@gmail.com" }]
readme = "readme.md"
license = { file = "license" }
keywords = [
  "Bayesian optimization",
  "convex hull",
  "high-throughput search",
  "inorganic crystal stability",
  "interatomic potential",
  "machine learning",
  "materials discovery",
]
classifiers = [
  "Intended Audience :: Science/Research",
  "License :: OSI Approved :: MIT License",
  "Operating System :: OS Independent",
  "Programming Language :: Python :: 3.11",
  "Topic :: Scientific/Engineering :: Artificial Intelligence",
  "Topic :: Scientific/Engineering :: Chemistry",
  "Topic :: Scientific/Engineering :: Physics",
]
requires-python = ">=3.11"
dependencies = [
  "ase>=3.23",
  "matplotlib>=3.9.2",
  "numpy>=1.26",
  "pandas>=2.2.2",
  "plotly>=5.23",
  "pymatgen>=2024.8.9",
  "pymatviz[export-figs,df-pdf-export,df-svg-export]>=0.11",
  "scikit-learn>=1.5",
  "scipy>=1.13",
  "seaborn>=0.13",
  "tqdm>=4.66",
  "wandb>=0.17",
]

[project.urls]
Homepage = "https://janosh.github.io/matbench-discovery"
Repo = "https://github.com/janosh/matbench-discovery"
Package = "https://pypi.org/project/matbench-discovery"

[project.optional-dependencies]
test = ["pytest-cov>=5", "pytest>=8.1"]
# how to specify git deps: https://stackoverflow.com/a/73572379
running-models = [
  # aviary commented-out since dep on git repo raises "Invalid value for requires_dist"
  # when attempting PyPI publish
  # "aviary@git+https://github.com/CompRhys/aviary",
  "alignn>=2024.1.14",
  "chgnet>=0.3.0",
  "jarvis-tools",
  "m3gnet>=0.2.4",
  "mace-torch>=0.3.6",
  "maml>=2023.9.9",
  "megnet>=1.3.2",
]
3d-structures = ["crystal-toolkit>=2023.11.3"]
fetch-wbm-data = ["gdown>=5.1"]
make-wbm-umap = ["umap-learn>=0.5.5"]

[tool.setuptools.packages.find]
include = ["matbench_discovery*"]
exclude = ["tests", "tests.*"]

[tool.distutils.bdist_wheel]
universal = true

[build-system]
requires = ["setuptools>=70"]
build-backend = "setuptools.build_meta"

[tool.ruff]
target-version = "py311"
output-format = "concise"

[tool.ruff.lint]
select = ["ALL"]
ignore = [
  "ANN101",
  "ANN102",
  "ANN401",
  "B905",    # zip without explicit strict
  "BLE001",
  "C408",    # unnecessary-collection-call
  "C901",
  "COM812",
  "D205",    # blank-line-after-summary
  "E731",    # lambda-assignment
  "EM101",
  "EM102",
  "FIX002",
  "INP001",
  "ISC001",
  "N806",    # non-lowercase-variable-in-function
  "PERF203", # try-except-in-loop
  "PLC0414", # useless-import-alias
  "PLR",     # pylint refactor
  "PLW2901", # redefined-loop-name
  "PT006",   # pytest-parametrize-names-wrong-type
  "PTH",
  "S108",
  "S310",
  "S311",
  "S603",    # subprocess-without-shell-equals-true
  "S607",    # start-process-with-partial-path
  "T201",
  "TD",
  "TRY003",
  "TRY301",
]
pydocstyle.convention = "google"
isort.known-first-party = ["matbench_discovery"]
isort.known-third-party = ["wandb"]
isort.split-on-trailing-comma = false

[tool.ruff.lint.per-file-ignores]
"tests/*" = ["D", "FBT001", "FBT002", "S101"]
"matbench_discovery/plots.py" = ["ERA001"]    # allow commented out code
"matbench_discovery/preds.py" = ["ERA001"]    # allow commented out code
"scripts/*" = ["D", "ERA001"]
"models/*" = ["D", "ERA001"]
"data/*" = ["ERA001", "S101"]

[tool.mypy]
check_untyped_defs = true
disallow_untyped_defs = true
disallow_any_generics = true
disallow_incomplete_defs = true
warn_redundant_casts = true
warn_unused_ignores = true
allow_redefinition = true
no_namespace_packages = true

[tool.pytest.ini_options]
testpaths = ["tests"]
addopts = "-p no:warnings"

[tool.pyright]
typeCheckingMode = "off"
reportPossiblyUnboundVariable = true
reportUnboundVariable = true
reportMissingImports = false
