:root {
  --night: #061e25;
  --blue: cornflowerblue;
  --link-color: var(--blue);
  --text-color: rgb(208, 208, 208);
  --dark-bg: #0d1a1d;
  --light-bg: #08303b;

  --toc-min-width: 15em;
  --toc-active-border: solid var(--blue);
  --toc-active-border-width: 0 0 0 1pt;
  --toc-active-bg: none;
  --toc-font-size: 9pt;

  --zoo-github-corner-color: var(--night);
  --zoo-github-corner-bg: white;
  --zoo-tooltip-bg: rgb(2, 17, 30);

  --sms-margin: 1em auto;
  --sms-options-bg: var(--light-bg);
  --sms-max-width: 23em;
  --sms-border: 0.1px solid gray;
  --sms-focus-border: 0.1px solid white;
  --sms-active-color: var(--blue);

  /* can be increased on pages without much text like /models */
  --main-max-width: 50rem;
  --main-padding: 3rex;
}
html {
  scroll-behavior: smooth;
}
body {
  background: var(--night);
  font-family: -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
  color: var(--text-color);
  line-height: 1.5;
  margin: 0;
  /* 2024-11-28 maybe remove, prevents unintended horizontal scrolling but maybe breaks mobile layout */
}
body > div {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  padding: var(--main-padding);
  flex: 1;
  container-type: inline-size;
  box-sizing: border-box;
  margin-bottom: 3em;
  width: 100%;
  margin-inline: auto;
  max-inline-size: var(--main-max-width);
}
button {
  color: var(--text-color);
  cursor: pointer;
  border: none;
  border-radius: 3pt;
  background: teal;
  padding: 2pt 4pt;
}
:is(div.multiselect) button {
  background: transparent;
}
a {
  color: var(--link-color);
  text-decoration: none;
  transition: 0.2s;
}
a:hover {
  color: orange;
}
a.link {
  padding: 2pt 4pt;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 3pt;
  transition: 0.2s;
}
a.link[aria-current='page'] {
  color: mediumseagreen;
}
code {
  overflow-wrap: break-word;
  padding: 1pt 3pt;
  border-radius: 2pt;
  font-size: 1.2em;
  background-color: rgba(0, 255, 255, 0.1);
}
pre code {
  background-color: transparent;
  display: inline-block;
}
pre {
  position: relative;
  border-radius: 4pt;
  font-size: 9.5pt;
  background-color: rgba(255, 255, 255, 0.05);
  overflow-x: auto;
  padding: 6pt 8pt;
  margin: 1em auto;
}
ul {
  padding-left: 1em;
}
:is(ul, ol) > li > p {
  margin-block: 1ex;
}
label {
  cursor: pointer;
}
img {
  max-width: 100%;
  margin-block: 1em;
}

table {
  display: block;
  width: max-content;
  max-width: 100%;
  margin: auto;
  overflow: scroll;
  border-collapse: collapse;
}
table :is(td, th) {
  border: 1px solid gray;
  padding: 2pt 4pt;
}
tbody tr:nth-child(odd) {
  background: rgba(0, 0, 0, 0.5);
}

h1 {
  text-align: center;
}
blockquote {
  border-left: 3pt solid var(--blue);
  padding: 4pt 4pt 4pt 9pt;
  margin: 1em auto;
  background-color: rgba(255, 255, 255, 0.05);
}
blockquote > :is(:first-child, :last-child) {
  margin: 0 auto;
}

:where(h1, h2, h3, h4, h5, h6, address) {
  text-wrap: balance;
}
:where(h2, h3, h4, h5, h6) {
  scroll-margin-top: 50px;
  transition: 0.3s;
  margin-top: 2em;
}
:where(h2, h3, h4, h5, h6).toc-clicked {
  color: orange;
}
/* style heading anchors added by rehype-autolink-headings, see svelte.config.js */
:where(h2, h3, h4, h5, h6, strong) a[aria-hidden='true'] {
  transition: 0.3s;
  margin-left: 4pt;
  opacity: 0;
}
:where(h2, h3, h4, h5, h6, strong):hover a[aria-hidden='true'] {
  opacity: 1;
}
strong a[aria-hidden='true'] {
  vertical-align: middle;
  line-height: 1em;
  position: absolute;
  left: 0;
}

aside.toc.desktop {
  position: fixed;
  top: 3em;
  left: calc(50vw + var(--main-max-width) / 2 + 200px);
  max-width: 16em;
}

caption {
  display: block;
}

.math {
  font-size: 10pt;
}

@keyframes highlight-scroll-target {
  0% {
    color: orange;
  }
  90% {
    color: orange;
  }
  /* revert to initial color */
}
:target {
  animation: highlight-scroll-target 3s;
}

sup {
  /* https://stackoverflow.com/a/6594576 */
  line-height: 0;
}

input {
  border: none;
  border-radius: 3pt;
  padding: 2pt 4pt;
  font-size: 12pt;
  background: rgba(255, 255, 255, 0.1);
  color: var(--text-color);
  transition: background 0.2s;
}
input:focus {
  outline: none;
  background: rgba(255, 255, 255, 0.2);
}
kbd {
  border: 1px solid #666;
  display: inline-block;
  font-weight: 600;
  line-height: 1;
  white-space: nowrap;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 1pt 3pt;
  border-radius: 2pt;
}

/* target reusable icons like <svg><use href="#icon-info"></use></svg> */
svg:has(use:only-child) {
  width: 1em;
  height: 1em;
  vertical-align: -0.1em;
}
