name: GitHub Pages

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    uses: janosh/workflows/.github/workflows/deno-gh-pages.yml@main
    with:
      uv-version: latest
      deno-version: 2.3.7 # https://github.com/pngwn/MDsveX/issues/743
      working-directory: site
      pre-build: |
        uv run --with-editable .. ../scripts/make_api_docs.py
        git clone --depth 1 https://github.com/janosh/matterviz.git ../matterviz
        cd ../matterviz && deno install && deno task package
        rm -rf node_modules/.deno/matterviz* node_modules/matterviz
        ln -s ../../matterviz node_modules/matterviz
