name: GitHub Pages

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  build:
    uses: janosh/workflows/.github/workflows/nodejs-gh-pages.yml@main
    with:
      python-version: "3.11"
      working-directory: site
      pre-build: |
        pip install lazydocs
        # lazydocs needs package deps to be installed
        pip install ..
        python ../scripts/make_api_docs.py
