name: Test Scripts

on:
  pull_request:
    branches: [main]
    types: [closed]
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        script:
          - scripts/model_figs/metrics_tables.py
          - scripts/model_figs/rolling_mae_vs_hull_dist_models.py
          - scripts/model_figs/cumulative_metrics.py
          - scripts/rolling_mae_vs_hull_dist.py
          - scripts/hist_classified_stable_vs_hull_dist.py
    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.11

      - name: Install package and dependencies
        run: pip install -e .[fetch-data]

      - name: Run script
        run: python ${{ matrix.script }}
        env:
          WANDB_API_KEY: ${{ secrets.WANDB_API_KEY }}
